@page
@model NhBackup.WebApplication.Pages.AdminModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Admin-panel</h4>
            </div>
            <div class="card-body">
                <p>Hi admin!</p>
            </div>
        </div>
    </div>
</div>
